.portfolio-table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row {
  cursor: pointer;
}

tr.example-element-row:hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.sell-button {
  margin-bottom: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.historic-container {
  display: flex;
}

.historic-item {
  width: 100%;
}

.historic-item:first-child {
  margin-right: 1rem;
}

.historic-item:last-child {
  margin-left: 1rem;
}

.profit {
  color: green;
}

.loss {
  color: red;
}
